/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@500&display=swap");

/* 
color palette -  catppucin macchiato
https://github.com/catppuccin/catppuccin/blob/main/docs/style-guide.md 

https://github.com/catppuccin/catppuccin
*/


/* body */
html{
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #24273a;
  color: #cad3f5;
  margin: 0%;
  height: 100%;
}

.button-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  align-items: center;
}

.button {
  text-decoration: none;
  font-size: large;
  padding: 1rem 2.5rem;
  margin-top: 1.5rem;
  color: #cad3f5;
  box-sizing: border-box;
  
}

.button:hover {
  scale: 1.1;
}

.icon {
  vertical-align: middle;
  height: 3em;
  width: auto;
  justify-content: center;
}