/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@500&display=swap");

/* 
color palette -  catppucin macchiato
https://github.com/catppuccin/catppuccin/blob/main/docs/style-guide.md 
*/



/* body */

  /* header */
  #pageHeader {
    font-family: "Montserrat", sans-serif;
  }

  #title {
  background-color: #181926;
  color: #a4adcb;
  }

  header img {
    width: 100%;
  }
  /* */

body {
  font-family: "Inter", sans-serif;
  background-color: #24273a;
  color: #cad3f5;
  margin: 0%;
}

.beneficioItens {
  font-style: italic;
}

  /* footer */
  footer {
    font-size:small;
  }