/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@500&display=swap");

/* 
color palette -  catppucin macchiato
https://github.com/catppuccin/catppuccin/blob/main/docs/style-guide.md 
*/



/* body */
body {
  font-family: "Inter", sans-serif;
  background-color: #24273a;
  color: #cad3f5;
  margin: 0%;
}


/* header */
#pageHeader {
  font-family: "Montserrat", sans-serif;
}

#navBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #181926;
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 18px;
}

#navBarTitle {
  text-align: center;
  float: left;
  padding: 14px 16px;
  text-decoration: none;
}

.navBarItem {
  float: right;
}

.navBarItem a {
  display: block;
  color: #cad3f5;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navBarItem a:hover {
  background-color: #11111b;
}

/* header */


/* section - main */
main {
  background-color: #1e2030;
  display: flex;
  align-items: center;
  justify-content: center
}

#mainContent {
  width: 35%;
  font-size: 18px;
}

main img {
  width: 50%;
  scale: 0.9;
}
/* section - main */


/* section - diferencial */

/* section - diferencial */



/* footer */
footer {
  font-size:small;
  text-align:center;
}
/* footer */